/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.about_right {
    width: 40%;
    margin-bottom: 40px;
    margin-top: 60px;
}